body {
    font-family: 'Inter';
}

h1, h2, p, p.create-mobile {
    color: var(--deep-grey);
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: auto;
    max-height: 150px;
}

label, span.asterisk {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

label {
    display: block;
    height: 30px;
    background-color: var(--body-background-grey);
}

span.asterisk {
    color: #FF8190;
}



.joinLogo,
.d-none {
    display: none;
}

.editanddeletebuttonsub {
display: flex;
justify-content: flex-end;
margin-left: -80px;
}

#subtaskList img{
    cursor: pointer;
   
}

#subtaskList {
    overflow: hidden;
    overflow-y: scroll;
}

#subtaskList li {
    max-width: 100%;
    text-overflow: ellipsis;
    overflow-y: auto;
    overflow-x: hidden;
}

.subtaskcontainer:hover  {
    background-color: rgba(172, 172, 172, 0.2);
}

.subtaskcontainer {
   padding: 5px;
   border-radius: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}

.subtaskcontainer.editing {
    background-color: initial;
    margin-bottom: 15px;
}

.subtaskcontainer.editing:hover {
    background-color: initial; 
    cursor: default; 
}

.subtask-title {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    font-family: 'Inter';
    margin-left: 10px;
    margin-right: 80px;
}

.save-btn {
    filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
    margin-right: 10px;
    margin-left: 5px;
}

.edit-btn {
    margin-right: 10px;
}

.delete-btn{
margin-right: 10px;
}

.edit-input {
   
    border-bottom: 2px solid blue !important;
    border: 1px solid var(--border-grey) !important;
    background-color: white !important;
    padding: 10px !important;
    font-family: 'Inter' !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    width: 100% !important;
   
}
.addTasktitle input,
textarea#description {
    border-radius: 10px;
    height: 120px;
    border: 1px solid var(--border-grey);
    padding: 18px 16px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
}

input#addTaskTitle {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
}

.addTaskH1 {
    font-size: 61px;
    font-weight: 700;
    line-height: 73.2px;
    font-family: 'Inter';
}

#addTaskFlexButtons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.addTaskDateInner,
.inputAddTaskTitle {
    background-color: var(--white);
    height: 48px;
    display: flex;
    align-items: center;
    padding: 12px 21px 12px 21px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    font-size: 20px;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

.prioFlex {
    display: flex;
    justify-content: space-between;
}

.addTaskInput {
    width: 90%;
    height: 20px;
}

span.addTaskerrorMessage {
    color: var(--light-red);
}

.addTaskFlexContainer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    flex-wrap: wrap;
}

#addTaskLeftForm,
#addTaskRightForm {
    display: flex;
    flex-direction: column;
    width: calc(45% - 332px);
    flex: 1;
    margin: 10px;
}

.addTaskRightButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 46px;
    width: 100%;
    align-items: baseline;
}

.addTaskFlexButtons button, .addTaskPriority button {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    margin: 5px;
}

.addTaskPriority {
    margin: 10px 0;
}

form div {
    margin-bottom: 0px;
}

.createbutton {
    cursor: pointer;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 21px;
    color: var(--white);
    width: 214px;
    height: 52px;
    border-radius: 10px;
    background-color: var(--deep-grey);
    border: unset;
}

p.create-mobile {
    color: var(--white);
    font-family: 'Inter';
    font-weight: 700;
    font-size: 21px;
}

.createbutton img {
    margin: 0;
}

.createbutton:hover {
    background-color: var(--babyblue);
    border-color: transparent;
}

.cancelbutton {
    margin: 0 !important;
    cursor: pointer;
    font-size: 20px;
    width: 160px;
    height: 52px;
    background-color: var(--white);
    border: 1px solid var(--deep-grey);
    border-radius: 10px;
    margin-right: 20px;
    color: var(--black);
    transition: border-color 0.3s ease, color 0.3s ease;
    word-spacing: 0.4em;
    padding-right: 20px;
    padding-left: 20px;
}

.cancelbutton:hover {
    border-color:  var(--babyblue);
    color:  var(--babyblue); 
}

.addTaskLeftForm {
    width: 100%;
    margin: 0 auto; 
}

.addTaskTitle,
.addTaskDescription {
    width: 100%;
    margin-bottom: 20px; 
}

.addTaskTitle input,
.addTaskDescription textarea {
    width: 100%;
    box-sizing: border-box; 
}

.vertical-line {
    height: 100%;
    width: 1px;
    background-color: var(--border-grey);
    margin: 0 20px;
}

.contentFlex {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}

.linedivider {
    width: 1px;
    height: 20px;
    background-color: #ccc;
    display: none; 
    margin-right: 5px;
  }

.subtask-input-wrapper {
    display: flex;
    align-items: center;
    
}

.icons-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
    margin-left: -85px;
}

.icon {
    width: 15px;
    height: 15px;
    margin-bottom: 2px;
    display: none; 
    cursor: pointer;
}



.iconX {
    height: 30px;
    display: none; 
    cursor: pointer;
}

#checkIcon {
    filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
   
}


input#subtasks {
    padding-right: 30px; 
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--border-grey);
    border-radius: 10px;
    background-color: var(--white);
    padding: 10px 30px 10px 10px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'Inter';
    background-image: url('./..//IMGicons/plus.png'); 
    background-repeat: no-repeat;
    background-position: right 15px center; 
    background-size: 20px;  
    cursor: pointer;
}

input#subtasks.no-plus {
    background-image: none; /* Entfernt das Plus-Symbol */
}


select#category,
.addTaskAssignedTo select {
    appearance: none; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><path fill="none" stroke="black" stroke-width="1.5" d="M1 3.5l4 4 4-4"/></svg>') no-repeat right 20px center;
    padding-right: 30px; 
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--border-grey);
    border-radius: 10px;
    background-color: var(--white);
    padding: 10px 30px 10px 10px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'Inter';
    cursor: pointer;
}

option {
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.addTaskDateInner input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.addTaskDateInner input[type="date"] {
    position: relative;
    padding-right: 30px;
    width: 100%;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}

.addTaskDateInner input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;  
    height: 20px; 
    cursor: pointer;
}

.flexhelper {
    display: flex;
    margin: 0;
}

.addTaskCategory {
    margin-bottom: 20px;
}

.addTaskPrioButton:hover {
    box-shadow: 3px 5px 1px rgba(0, 0, 0, 0.1);
}

.addTaskPrioButton {
    width: 136px;
    height: 56px;
    border-radius: 10px;
    gap: 8px;
    background-color: var(--white);
    padding: 12px;
    padding-right: 40px;
    font-size: 20px;
    font-weight: 400;
    border: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
  
svg {
    margin-left: auto;
}

.addTaskPrioButton.active-urgent {background-color: #FF3D00; color: var(--white);}
.addTaskPrioButton.active-medium {background-color: #FFA800; color: var(--white);}
.addTaskPrioButton.active-low {
    background-color: #7AE229; 
    color: var(--white);
}


.addTaskPrioButton.active-urgent svg path,
.addTaskPrioButton.active-medium svg path,
.addTaskPrioButton.active-low svg path {
    fill: white; 
}

.flex-asterisk {
    display: flex;
    align-items: center;
}

.assignedto-checkboxes {
    flex-direction: column;
    max-height: 200px;
    overflow: auto;
    border-radius: 10px;
}

.addTaskAssignedTo {
    background-color: var(--white);
}

.addTaskAssignedToButton {
    background-color: var(--white);
    height: 48px;
    display: flex;
    align-items: center;
    padding: 12px 21px 12px 21px;
    border: 1px solid;
    border-radius: 10px;
    font-size: 20px;
    width: 100%;
    box-sizing: border-box;
    font-weight: normal;
}

.addTaskAssignedToButton img {
    margin-left: auto;
}

.up img{
    transform: rotate(180deg);
}

.down img{
    transform: rotate(0deg);
}

#clearbutton {
    width: unset;
}


/* Checkbox - Finger weg!
************************************************************************************/
.assignedto-item .avatar:hover {
    background-color: var(--deep-grey);
}

.assignedto-item:active > .avatar {
    background-color: var(--deep-grey) !important;
}

.assignedto-item:active .avatar {
    background-color: var(--deep-grey);
    z-index: 1;
}

.assignedto-item {
    position: relative;
    width: 99%;
    border-radius: 10px;
    overflow: hidden; 
    box-sizing: border-box; 
    padding: 26px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.3s;
}

.assignedto-item {
    display: flex;
    align-items: center;
    position: relative;
    padding-right: 30px; 
    cursor: pointer;
}

.assignedto-item span {
    flex-grow: 1;
    margin-left: 10px;
}

.assignedto-item .avatar {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
}

.assignedto-item input[type="checkbox"] {
    position: absolute;
    opacity: 0; 
    cursor: pointer;
}

.assignedto-item input[type="checkbox"] + .checkbox-label {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('./../IMGicons/check-unchecked.svg');
    background-size: contain; 
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding-right: 32px;
}

.assignedto-item input[type="checkbox"]:checked + .checkbox-label {
    background-image: url('./../IMGicons/check-checked.png'); 
}

/* End 
************************************************************************************/

.initials-container span,
.avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 0px;
    margin-left: 20px; */
    /* margin-right: 20px; */
    padding: 4px;
    box-shadow: 0 0 5px var(--white);
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    color: white;
    border: 2px solid #fffefe;
}

.initials-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    overflow-x: auto;
}

.initial-circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--some-color);
    color: white;
    border-radius: 50%;
    font-size: 16px;
    text-transform: uppercase;
} 

.cancel-container {
    display: flex;
    align-items: center;
}

/* End 
************************************************************************************/

@media (min-width: 1040px) {
    .joinLogo {
        display: none;
    }
}

@media (max-width: 400px) {
    .cancelbutton {
        margin: 0 !important;
        cursor: pointer;
        font-size: 16px;
        width: 180px;
        height: 52px;
        background-color: var(--white);
        border: 1px solid var(--deep-grey);
        border-radius: 10px;
        margin-right: 20px;
        color: var(--black);
        transition: border-color 0.3s ease, color 0.3s ease;
        gap: 20px;
    }

    .cancel-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .addTaskFlexButtons button, .addTaskPriority button {
        margin-bottom: 20px;
    }

}