body {
    font-family: 'Inter';
}

h1, h2, p, p.create-mobile {
    color: var(--deep-grey);
}

label, span.asterisk {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

label {
    height: 30px;
    display: block;
}

span.asterisk {
    color: #FF8190;
}

.addTaskContainer {
    margin-left: 332px;
}

textarea#description,
.inputAddTaskTitle,
textarea, input[type="text"], select, input[type="date"] {
    /*padding: 12px 16px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    font-size: 20px;
    width: 100%;
    box-sizing: border-box; */
}

.addTasktitle input,
textarea#description {
    border-radius: 10px;
    height: 120px;
    border: 1px solid var(--border-grey);
    padding: 18px 16px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
}

input#addTaskTitle {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
}

.addTaskH1 {
    font-size: 61px;
    font-weight: 700;
    line-height: 73.2px;
    font-family: 'Inter';
}



#addTaskFlexButtons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.addTaskDateInner,
.inputAddTaskTitle {
    background-color: var(--white);
    height: 48px;
    display: flex;
    align-items: center;
    padding: 12px 21px 12px 21px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    font-size: 20px;
    width: 100%;
    box-sizing: border-box;
}

.prioFlex {
    display: flex;
    justify-content: space-around;
}

.addTaskInput {
    width: 90%;
    height: 20px;
}

span.addTaskerrorMessage {
    color: var(--light-red);
}

.addTaskFlexContainer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    flex-wrap: wrap;
}

#addTaskLeftForm,
#addTaskRightForm {
    display: flex;
    flex-direction: column;
    width: calc(45% - 332px);
    flex: 1;
    margin: 10px;
}



.addTaskRightForm {
    padding-left: 20px;
}

.addTaskRightButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 46px;
    width: 100%;
    align-items: baseline;
}

.addTaskFlexButtons button, .addTaskPriority button {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

.addTaskPriority {
    margin: 10px 0;
}

form div {
    margin-bottom: 30px;
}

.createbutton {
    cursor: pointer;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 21px;
    color: var(--white);
    width: 214px;
    height: 52px;
    border-radius: 10px;
    background-color: var(--deep-grey);
    border: unset;
}

p.create-mobile {
    color: var(--white);
    font-family: 'Inter';
    font-weight: 700;
    font-size: 21px;
}

.createbutton img {
    margin: 0;
}

.createbutton:hover {
    background-color: var(--babyblue);
    border-color: transparent;
}

.cancelbutton {
    cursor: pointer;
    font-size: 20px;
    width: 120px;
    height: 52px;
    background-color: var(--white);
    border: 1px solid var(--deep-grey);
    border-radius: 10px;
    margin-right: 20px;
    color: var(--black);
    transition: border-color 0.3s ease, color 0.3s ease;
}

.cancelbutton:hover {
    border-color:  var(--babyblue);
    color:  var(--babyblue); 
}

/****************************************************************/

.addTaskLeftForm {
    width: 100%;
    max-width: 600px; 
    margin: 0 auto; 
}

.addTaskTitle,
.addTaskDescription {
    width: 100%;
    margin-bottom: 20px; 
}

.addTaskTitle input,
.addTaskDescription textarea {
    width: 100%;
    box-sizing: border-box; 
}

.vertical-line {
    height: 100%;
    width: 1px;
    background-color: var(--border-grey);
    margin: 0 20px;
}

.contentFlex {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}

input#subtasks,
select#category,
.addTaskAssignedTo select {
    appearance: none; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><path fill="none" stroke="black" stroke-width="1.5" d="M1 3.5l4 4 4-4"/></svg>') no-repeat right 20px center;
    padding-right: 30px; 
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--border-grey);
    border-radius: 10px;
    background-color: var(--white);
    padding: 10px 30px 10px 10px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'Inter';
}

option {
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.addTaskDateInner input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.addTaskDateInner input[type="date"] {
    position: relative;
    padding-right: 30px;
    width: 100%;
}

.addTaskDateInner input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;  
    height: 20px; 
}

.flexhelper {
    display: flex;
    margin: 0;
}

.addTaskCategory {
    margin-bottom: 20px;
}

.addTaskPrioButton {
    width: 136px;
    height: 56px;
    border-radius: 10px;
    gap: 8px;
    background-color: var(--white);
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) center;
    background-size: 24px 24px;
    padding: 12px;
    padding-right: 40px;
    border: 0;
    font-size: 20px;
    font-weight: 400;
}

.addTaskPrioButton:hover {
    box-shadow: 3px 5px 1px rgba(0, 0, 0, 0.1);
}

.addTaskPrioButton {
    width: 136px;
    height: 56px;
    border-radius: 10px;
    gap: 8px;
    background-color: var(--white);
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) center;
    background-size: 24px 24px;
    padding: 12px;
    padding-right: 40px;
    border: 0;
    cursor: pointer;
}

.addTaskPrioButton.active-urgent {background-color: #FF3D00; color: var(--white);}
.addTaskPrioButton.active-medium {background-color: #FFA800; color: var(--white);}
.addTaskPrioButton.active-low {
    background-color: #7AE229; 
    color: var(--white);
}


.addTaskPrioButton.active-urgent svg path,
.addTaskPrioButton.active-medium svg path,
.addTaskPrioButton.active-low svg path {
    fill: white; 
}
