
#addTaskMobile {
    display: none;
}

#addTaskMobile {
    width: 40px;
    height: 40px;

}
.flexhelper {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

@media (max-width: 1230px) {
    .main-content {
        flex-wrap: wrap;
        margin-left: 260px;
    }
    .searchform {
        justify-content: space-between;
    }
    .addTaskForm {
        width: 100%;
    }
}

@media (max-width: 830px) {
    #addTaskMobile {
        display: block;
    }
    #addTaskDesktop {
        display: none;
    }
    .boardsections {
        justify-content: space-around;
        flex-wrap: nowrap;
        flex-direction: column;
        padding-left: 20px;
    }
    .progress-window {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
        flex-grow: 1;
        gap: 16px;
        width: 252px;
        flex-wrap: nowrap;
    }
    #awaitingfeedback, #inprogress, #todo, #done {
        display: flex;
    }
    .task-cards {
        margin: 10px;
        margin-bottom: 20px;
    }
    .boardsection-mobile {
        display: flex;
        justify-content: space-between;
        width: 200px;
    }
    .boardsection {
        display: none;
    }

}  

@media (max-width: 740px) {
    .subheader-contact {
        display: none;
    }
}    

@media (max-width: 850px) {
    .header-left {
        display: none;
    }
    .header-top {
        width: 100%;
    }
    .header-top,
    .boardsections,
    .main-content {
        margin-left: 0;
    }
    .footer-mobile {
        display: block !important;
    }
    .main-content {
        margin-right: 0;
        margin-top: 0;
    }
    .inputfieldfindtask {
        width: 100%;
    }
    .addTaskForm {
        width: 100%;
    }
    .joinLogo {
        display: block;
        width: 39px;
        height: 39px;
        position: absolute;
        top: 16px;
        z-index: 20;
        left: 16px;
    }

}  

@media (max-width: 550px) {
    .subheader-contact{
        display: none; 
    }
    .inputfieldfindtask {
        width: 250px;
    }
    .addTaskForm {
        display: flex;
        justify-content: center;
    }
    h1 {
        margin-left: 0;
    }
    .boardsections {
        margin-bottom: 120px;
        overflow-x: hidden;
    }
    .main-content {
        padding: 20px;
        display: flex;
        justify-content: center;
    }
    h1 {
        font-size: 41px;
    }
    .flexhelper {
        display: flex;
        margin: 0;
        align-items: center;
        justify-content: space-between;
        width: 252px;
    }
}


