.main-content {
    margin-top: 80px;
    margin-left: 270px; /* Anpassung an die Breite der Seitenleiste */
    margin-right: 120px;
    padding: 20px;
    background-color: var(--body-background-grey);
    /* min-height: 100vh; */
/*     height: 85vh; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-content p {
    margin-bottom: 32px;
}

h1, h2, p {
    color: var(--deep-grey);
}

.toast {
    background-color: var(--deepest-grey);
    color: var(--white);
    border-radius: 20px;
    z-index: 99;
    width: 326px;
    height: 60px;
    margin: 0 auto;
    bottom: 80px;
    position: relative;
    display: flex;
    justify-content: center;
}

.progress-window {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    border: solid 1px var(--deep-grey);
    border-radius: 6px;
    margin: 10px 0;
}

/* #todo {
  display: flex;
  flex-direction: column;
  border: 1px  solid var(--deep-grey);
  padding: 10px;
}

#inprogress {
  display: flex;
  flex-direction: column;
  border: 1px  solid var(--deep-grey);
  padding: 10px;
}

#awaitfeedback {
  display: flex;
  flex-direction: column;
  border: 1px  solid var(--deep-grey);
  padding: 10px;
}

#done {
  display: flex;
  flex-direction: column;
  border: 1px  solid var(--deep-grey);
  padding: 10px;
} */


.toast-text {
    text-align: center;
    margin-bottom: 40px;
    padding-top: 20px;
}

.spinner {
    --uib-size: 37px;
    --uib-color: black;
    --uib-speed: .9s;
    --uib-bg-opacity: .1;
    height: var(--uib-size);
    width: var(--uib-size);
    transform-origin: center;
    overflow: visible;
  }

  .car {
    fill: none;
    stroke: var(--uib-color);
    stroke-dasharray: 15, 85;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: travel var(--uib-speed) linear infinite;
    will-change: stroke-dasharray, stroke-dashoffset;
    transition: stroke 0.75s ease;
  }

  .track {
    stroke: var(--uib-color);
    opacity: var(--uib-bg-opacity);
    transition: stroke 0.75s ease;
  }

/* ANIMATION */
.slide-in-bottom {
	-webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-out-bottom {
	-webkit-animation: slide-out-bottom 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-bottom 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.slide-out-right {
	-webkit-animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.slide-in-right {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* Keyframes */
@-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  
  @-webkit-keyframes slide-out-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
  }
  @keyframes slide-out-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
  }

  @-webkit-keyframes slide-out-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
  }
  @keyframes slide-out-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
  }

@-webkit-keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes travel {
    0% {
      stroke-dashoffset: 0;
    }

    100% {
      stroke-dashoffset: -100;
    }
  }
/* Animation & Spinner ende */


/*Style für das Suchfeld */

.searchform {
  margin-top: 30px;
  display: flex;
}

.addtaskbutton {
  cursor: pointer;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 21px;
  color: var(--white);
  width: 180px;
  height: 48px;
  border-radius: 10px;
  background-color: var(--deep-grey);
  border: unset;
  margin-left: 20px;
  
}

.addtaskbutton:hover {
  background-color: var(--babyblue);
}



.inputfieldfindtask {
  width: 312px; 
  height: 48px;
  padding: 0 60px 0 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 20px;
  
 
}

.inputfieldfindtask::placeholder {
 
  color: rgb(212, 206, 206); /* Custom placeholder color */
}

.search-container {
  position: relative;
  display: inline-block;
}

.background-image {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-image: url('../icons/boardicons/search.svg');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  
}

.background-image:hover {
  background-color: rgb(177, 175, 175, 0.2);
  border-radius: 20px;

}

.background-image:active {
  transform: translateY(-50%) scale(0.95);
}

.divider {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  height: 60%;
  width: 1px;
  background-color: #ccc;
  margin-right: 5px;
}

/*Style für die To do In Progress etc. Sektion */

.boardsections {
  margin-top: 80px;
  margin-left: 260px; 
  margin-right: 120px;
 
  background-color: var(--body-background-grey);
  display: flex;
  justify-content: space-between;
  
 

}

.boardsection {
  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  margin-left: 30px;
  
  
}

.boardsection img {
 cursor: pointer;
}

.boardsection img:hover {
  filter: invert(74%) sepia(11%) saturate(686%) hue-rotate(151deg) brightness(96%) contrast(92%);
}

.boardsectiontext {
  width: 200px;
  margin-right: 120px;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
  color: #42526E;
  font-size: 20px;
  font-weight: 700;
  
}

.boardsectiontextdone {
  color: #42526E;
  font-size: 20px;
  font-weight: 700;
}

/*Style für das Add Task Overlay  */

.overlayaddtask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(65, 64, 64, 0.2);
  z-index: 999;
}

.addtaskpopup {
  background-color: white;
  width: 1116px;
  height: 870px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  display: flex; 
  overflow: hidden; 
}

