:root {
  --orange: #FF7A00;
  --pink: #FF5EB3;
  --blue: #6E52FF;
  --violet: #9327FF;
  --babyblue: #00BEE8;
  --background-prio: #FFA800;
  --body-background: #F6F7F8;
  --body-background-grey: #f5f5f5;
  --border-grey: #d1d1d1;
  --ligh-tgreen: #1FD7C1;
  --dark-orange: #FF745E;
  --brown: #FFA35E;
  --pink: #FC71FF;
  --med-orange: #FFC701;
  --med-blue: #0038FF;
  --emailblau: #007CEE;
  --neon-green: #C3FF2B;
  --yellow: #FFE62B;
  --light-red: #FF4646;
  --light-orange: #FFBB2B;
  --deep-grey: #2A3647;
  --deepest-grey: #091931;
  --button-hover: #29ABE2;
  --footer-grey: #A8A8A8;
  --links-grey: #cdcdcd;
  --black: #000000;
  --white: #ffffff;
  --technical-green: #1FD7C1;
  --user-story-blue: #0038FF;
}

body {
 background-color: var(--body-background); 
}

.no-copy {
    user-select: none;
    -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
}

.draggable-true {
    cursor: grab;
}


/*Style Boardseite Progressbar  */
.progress-bar-container {
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  height: 10px;
  margin: 10px 0;
}

.progress-bar {
  height: 100%;
  background-color: #4c54af; /* Farbe des Fortschrittsbalkens */
  transition: width 0.3s ease-in-out;
}





/*Style Boardseite einzelne Tasks sobald man draufklickt und sich das overlay öffnet */
.taskCategoryHTML {
  margin-bottom: 50px;
  font-size: 24px;
  
}

.dueDate {
  margin-left: 20px;
  color: #000000;
}

.taskPriority {
  margin-left: 20px;
  color: #000000;
  
}

.single-task-content {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 30px;
  width: 450px;
  height: 860px;
  
}

.Subtasks {
  margin-bottom: 150px;
}

.taskTitleOverlay {
  margin-top: 0px;
  font-size: 70px;
}

.nurtest {
  margin-bottom: 100px;
}

.editanddeletetask {
  
  display: flex;
  
  justify-content: flex-end;
  align-items: flex-end;
  
}

.editbuttontask {
  background-image: url(../IMGicons/edit.svg);
  cursor: pointer;
  margin-left: 30px;
}

.deletebuttontask {
  background-image: url(../IMGicons/delete.svg);
  cursor: pointer;
 
  
}

.deletebuttontask:hover {
  filter: brightness(0) saturate(100%) invert(38%) sepia(85%) saturate(509%) hue-rotate(174deg) brightness(95%) contrast(92%);
}

.editbuttontask:hover {
  filter: brightness(0) saturate(100%) invert(38%) sepia(85%) saturate(509%) hue-rotate(174deg) brightness(95%) contrast(92%);
}

.editbuttontask, .deletebuttontask {
 
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  padding-left: 24px;
  margin-right: 32px;
  font-size: 16px;
  font-weight: 700;
  color: var(--deep-grey);
}


/*Style Boardseite einzelne Tasks  */
.task-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  border-radius: 24px;
  margin: 10px 0;
  cursor: pointer;
  padding: 20px;
  gap: 24px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
  background-color: var(--white);
  width: 300px;
}


.task-title {
  color: var(--deep-grey);
  font-weight: 700;
}

.taskpriority {
display: flex;
justify-content: flex-end;
}

.technical-green {
 
   text-align: center;
    background-color: var(--technical-green);
    color: var(--white);
    width: 60%;
    padding: 5px;
    border-radius: 8px;
    gap: 10px;
}

.user-story-blue {
  
   text-align: center;
    background-color: var(--user-story-blue);
    color: var(--white);
    width: 45%;
    padding: 5px;
    border-radius: 8px;
    gap: 10px;
}

.main-content {
    margin-top: 80px;
    margin-left: 270px; /* Anpassung an die Breite der Seitenleiste */
    margin-right: 120px;
    padding: 20px;
    background-color: var(--body-background-grey);
    /* min-height: 100vh; */
/*     height: 85vh; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-content p {
    margin-bottom: 32px;
}

h1, h2, p {
    color: var(--deep-grey);
}

.toast {
    background-color: var(--deepest-grey);
    color: var(--white);
    border-radius: 20px;
    z-index: 99;
    width: 326px;
    height: 60px;
    margin: 0 auto;
    bottom: 80px;
    position: relative;
    display: flex;
    justify-content: center;
}

.progress-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
}



.toast-text {
    text-align: center;
    margin-bottom: 40px;
    padding-top: 20px;
}

.laoding {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    --uib-size: 37px;
    --uib-color: black;
    --uib-speed: .9s;
    --uib-bg-opacity: .1;
    height: var(--uib-size);
    width: var(--uib-size);
    transform-origin: center;
    overflow: visible;
  }

  .car {
    fill: none;
    stroke: var(--uib-color);
    stroke-dasharray: 15, 85;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: travel var(--uib-speed) linear infinite;
    will-change: stroke-dasharray, stroke-dashoffset;
    transition: stroke 0.75s ease;
  }

  .track {
    stroke: var(--uib-color);
    opacity: var(--uib-bg-opacity);
    transition: stroke 0.75s ease;
  }

/* ANIMATION */
.slide-in-bottom {
	-webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-out-bottom {
	-webkit-animation: slide-out-bottom 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-bottom 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.slide-out-right {
	-webkit-animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.slide-in-right {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* Keyframes */
@-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  
  @-webkit-keyframes slide-out-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
  }
  @keyframes slide-out-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
  }

  @-webkit-keyframes slide-out-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
  }
  @keyframes slide-out-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
  }

@-webkit-keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes travel {
    0% {
      stroke-dashoffset: 0;
    }

    100% {
      stroke-dashoffset: -100;
    }
  }
/* Animation & Spinner ende */


/*Style für das Suchfeld */

.searchform {
  margin-top: 30px;
  display: flex;
}

.addtaskbutton {
  cursor: pointer;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 21px;
  color: var(--white);
  width: 180px;
  height: 48px;
  border-radius: 10px;
  background-color: var(--deep-grey);
  border: unset;
  margin-left: 20px;
  
}

.addtaskbutton:hover {
  background-color: var(--babyblue);
}



.inputfieldfindtask {
  width: 312px; 
  height: 48px;
  padding: 0 60px 0 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 20px;
  
 
}

.inputfieldfindtask::placeholder {
 
  color: rgb(212, 206, 206); /* Custom placeholder color */
}

.search-container {
  position: relative;
  display: inline-block;
}

.background-image {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-image: url('../IMGicons/boardicons/search.svg');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  
}

.background-image:hover {
  background-color: rgb(177, 175, 175, 0.2);
  border-radius: 20px;

}

.background-image:active {
  transform: translateY(-50%) scale(0.95);
}

.divider {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  height: 60%;
  width: 1px;
  background-color: #ccc;
  margin-right: 5px;
}

/*Style für die To do In Progress etc. Sektion */

.boardsections {
  margin-top: 80px;
  margin-left: 260px; 
  margin-right: 120px;
 
  background-color: var(--body-background-grey);
  display: flex;
  justify-content: space-between;
  
 

}

.boardsection {
  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  margin-left: 30px;
  
  
}

.boardsection img {
 cursor: pointer;
}

.boardsection img:hover {
  filter: invert(74%) sepia(11%) saturate(686%) hue-rotate(151deg) brightness(96%) contrast(92%);
}

.boardsectiontext {
  width: 200px;
  margin-right: 120px;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
  color: #42526E;
  font-size: 20px;
  font-weight: 700;
  
}

.boardsectiontextdone {
  color: #42526E;
  font-size: 20px;
  font-weight: 700;
}

/*Style für das Add Task Overlay  */

.overlayaddtask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(65, 64, 64, 0.2);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addtaskpopup {
  background-color: white;
  width: 1116px;
  height: 870px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  display: flex; 
  justify-content: flex-start;
  align-items: flex-start;

  overflow: hidden; 
}



/*Style für das Single Task Overlay  */

.overlaysingletask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(65, 64, 64, 0.2);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.singletaskpopup {

  background-color: white;
  width: 525px;
  height: 870px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  display: flex; 
  justify-content: flex-start;
  align-items: flex-start;
 
  overflow: hidden; 
}


