
#addTaskMobile {
    display: none;
}

#addTaskMobile {
    width: 40px;
    height: 40px;

}
.flexhelper {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

@media (max-width: 1230px) {
    .main-content {
        flex-wrap: wrap;
        margin-left: 260px;
    }
}

@media (max-width: 830px) {
    #addTaskMobile {
        display: block;
    }
    #addTaskDesktop {
        display: none;
    }
    .main-content {
        margin-right: 60px;
    }
}  

@media (max-width: 650px) {
    .header-left {
        display: none;
    }
    .header-top {
        width: 100%;
    }
    .header-top,
    .boardsections,
    .main-content {
        margin-left: 0;
    }
    .footer-mobile {
        display: block !important;
    }
    .main-content {
        margin-right: 0;
        margin-top: 0;
    }
    .inputfieldfindtask {
        width: 100%;
    }
    .addTaskForm {
        width: 100%;
    }

}  

@media (max-width: 550px) {
    .subheader-contact{
        display: none; 
    }
    .inputfieldfindtask {
        width: 250px;
    }
    .addTaskForm {
        display: flex;
    }
    h1 {
        margin-left: 0;
    }

    .boardsections {
        
        margin: 0 auto;
        margin-bottom: 120px;
    }
    .boardsection {
        width: 252px;
        margin-left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .joinLogo {
        display: block;
        width: 39px;
        height: 39px;
        position: absolute;
        top: 16px;
        z-index: 20;
        left: 16px;
    }
    #awaitingfeedback,
    #inprogress,
    #todo,
    #done {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .task-cards.no-copy {
        width: 252px;
    }
    .main-content {
        margin: 0 auto;
        padding: 20px;
    }
    h1 {
        font-size: 41px;
    }
    .flexhelper {
        display: flex;
        margin: 0;
        align-items: center;
        justify-content: space-between;
        width: 252px;
    }
}


