/* Contacts
****************************************************/
#cancelButtonEdit {
    display: none;
}

.back-button-big {
    background-image: url(../IMGicons/arrow-left-line.svg);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.header-mobile,
.footer-mobile {
    display: none;
}

.d-none {
    display: none;
}

@media (max-width: 1500px) {
    span.subheadline {
        font-size: clamp(0.5rem, 0.178rem + 1.6102vw, 1.6875rem);
    }
    h1 {
        font-size: clamp(1.875rem, 1.3496rem + 2.6271vw, 3.8125rem);
    }
    .contact-name-big {
        font-size: 47px;
    }
    .contact-details-big .avatar {
        font-size: 47px;
        height: 120px;
        width: 120px;
    }
}

@media (max-width: 1355px) {
.vertical-seperator {
    display: none;
    }
.button-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    }
.horizontal-seperator {
    border-bottom: 3px solid var(--button-hover);
    width: 90px;
    padding-top: 8px;
    }
}

@media (max-width: 1225px) {
}

@media (max-width: 1210px) {
    .sidebar {
        width: 400px;
    }
}

@media (max-width: 1150px) {
    .contact-details-big .avatar {
        font-size: 22px;
        height: 60px;
        width: 60px;
    }
}

@media (max-width: 1100px) {
    .contact-info {
        margin-left: 0px;
    }
}

@media (max-width: 1065px) {
    .sidebar {
        width: 360px;
    }
}

@media (max-width: 1065px) {
    .contact-details-big .avatar {
        font-size: 36px;
        height: 80px;
        width: 80px;
    }
    .contact-name-big {
        font-size: 36px;
    }
}

@media (max-width: 975px) {
    .contact-name {
        font-size: 16px;
    }
}

@media (max-width: 940px) {
    .contact-name {
        font-size: 16px;
    }
    .contact-email {
        font-size: 14px;
    }
}

@media (max-width: 1000px) {
    .edit-big, .delete-big {
        font-size: 14px;
    }
    .info-big {
        font-size: 20px;
    }
    .sidebar {
        width: 95%;
    }
    /* .sidebarlist a {
        padding: 0;
    } */
    .contact-email {
        font-size: 12px;
    }
    .main-content {
        padding: 40px 20px;
    }
}

@media (max-width: 1000px) {
    p.subheader-contact {
        font-size: 16px;
    }
    h1.mobile, .subheader-mobile {
        margin-left: 0;

    }
}

@media (min-width: 1000px) {
    .back-button-big {
        display: none;
    }

}
   

@media (max-width: 1000px) {

}

@media (min-width: 1000px) {

    #main-content,
    .contact-container {
        display: block;
    }
}

@media (max-width: 660px) {
    .subheader-contact {
        display: none;
    }

}

@media (max-width: 550px) {
    .main-content {
        display: none;
    }
    .contact-flex-header {
        margin-top: 80px;
    }
    .footer-mobile {
        display: flex !important;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 80px;
        background-color: var(--deep-grey);
    }
    header {
        display: none;
    }
    #sidebar {
        width: 90%;
        overflow-y: unset;
        margin-top: 50px;
        margin-bottom: 80px;
    }
    .container {
        margin-left: 0;
        height: auto;
    }
    .header-mobile {
        display: block;
        position: fixed;
        top: 0;
        height: 80px;
        background-color: var(--white);
        width: 100%;
        box-shadow: 0 4px 4px rgba(177, 174, 174, 0.3);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header-mobile-img {
        background-image: url(../IMGicons/mobile_join_logo.svg);
        background-repeat: no-repeat;
        width: 32px;
        height: 39px;
        background-size: cover;
        margin: 20px;
        cursor: pointer;
    }
    .user-image-header-mobile {
        background-image: url(../IMGicons/mobile_user_profile.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 56px;
        height: 56px;
        margin: 20px;
        cursor: pointer;
    }
    .add-contact-btn {
        display: none;
    }
    .alphabet-list {
        margin-top: 0;
    }
    .menu-mobile {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }
    img.mobile-menu {
        width: 24px;
        height: 24px;
        padding-bottom: 8px;
    }
    .mobile-menu-botton {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        padding: 10px 6px;
        border-radius: 12px;
    }
    span.mobile {
        color: var(--links-grey);
        font-size: 14px;
        line-height: 16.8px;
    }
    .mobile-menu-botton:hover {
        background-color: var(--deepest-grey);
        color: var(--white) !important;
    }
    .fixed-button-container {
        position: fixed;
        bottom: 120px; 
        right: 20px; 
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        z-index: 1; 
    }
    .add-contact-mobile {
        background-image: url(../IMGicons/person_add.svg);
        background-repeat: no-repeat;
        background-color: var(--deep-grey);
        width: 56px;
        height: 56px;
        border-radius: 50%;
        background-position: center;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10000;
    }
    .edit-contact-mobile {
        background-image: url(../IMGicons/mobile_edit.svg);
        background-repeat: no-repeat;
        background-color: var(--deep-grey);
        width: 56px;
        height: 56px;
        border-radius: 50%;
        background-position: center;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10000;
    }
    .mobileEditorDeleteWindow {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        z-index: 3500;
        background-color: var(--white);
        border-radius: 20px 20px 0px 20px;
        padding: 12px;
    }
    .mobileEditorButtons {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        padding-right: 10px;
    }
    .mobileEditorButtons:hover {
        background-color: var(--body-background-grey);
        border-radius: 20px;
    }
    img.mobileEditorButtons {
        padding: 10px 12px;
    }
    .add-contact-mobile:hover {
        background-color: var(--deepest-grey);
    }
    .edit-contact-mobile:hover {
        background-color: var(--deepest-grey);
    }
    .flex-card-big {
        display: none;
    }
    .contact-details-big {
        display: flex;
        align-items: center;
    }
    .button-flex {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    span.subheadline {
        font-size: 20px;
    }
    h1 {
        font-size: 47px;
        font-weight: 700;
    }
    .back-button-big {
        background-image: url(../IMGicons/arrow-left-line.svg);
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        cursor: pointer;
        margin-top: -20px;
    }
    .main-content {
        padding: 40px 20px;
    }
    .horizontal-seperator {
        border-bottom: 3px solid var(--button-hover);
        width: 90px;
        padding-top: 8px;
    }
    .contact-name-big {
        font-size: 36px;
        font-weight: 700;
        line-height: 43.2px;
    }
    .contact-details-big .avatar {
        font-size: 27px;
        height: 80px;
        width: 80px;
    }

    .inputfiledsname, .inputfiledsemail, .inputfiledsphone {
        width: 90%;
    }
}

@media (max-width: 330px) {
    #sidebar {
        min-width: unset;
        width: 280px;
    }
}