
.d-none {
    display: none !important;
}

@media (max-width: 1220px) {
    .contactFormRight {
        width: 60%;
    }
    .inputfiledsname,
    .inputfiledsemail,
    .inputfiledsphone  {
        width:70%;
    }
    .contactFormRight img {
        margin-left: 10px;
    }
    .contactinputfields {
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        align-items: center;
    }
    .saveButton {
        width: 111Px;
    }
}

@media (min-width: 790px) {

}

@media (max-width: 1000px) {
    .cancelbutton {
        display: none;
    }

    .inputfiledsname, .inputfiledsemail, .inputfiledsphone {
        width: 90%;
    }
    .error-messagename {
        color: red;
        font-size: 0.9em;
        display: none; 
        margin-top: 5px;
        white-space: normal;
        word-wrap: break-word;
    }
    .error-messageemail {
        color: red;
        font-size: 0.9em;
        display: none; 
        margin-top: 5px;
        white-space: normal; 
        word-wrap: break-word;
    }
    .error-messagephone {
        color: red;
        font-size: 0.9em;
        display: none; 
        margin-top: 5px;
        white-space: normal; 
        word-wrap: break-word;
    }
    .overlayformobile {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.0); 
        z-index: 1000; 
    }
    .contactForm {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100vh;
        width: 100%;
        background-color: var(--white);
        border-radius: 20px;
        display: flex;
        overflow: hidden;
        flex-direction: column;
        align-items: center;
        z-index: 2;
    }
    .contactFormLeft {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        height: 25vH;
        background-color: #2A3647;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .contactFormRight {
        padding-right: 0;
        flex-direction: column;
        justify-content: unset;
    }
    .contactinputfields {
        margin-left: 0;
        margin-top: 30px;
    }
    p.create-mobile {
        color: var(--white);
    }
    .inputfiledsemail {
        background-image: url(../IMGicons/contacticons/mail.png);
    }
    .contactFormRight img {
        width: 120px;
        height: 120px;
        margin-left: 0;
        margin-top: -60px;
    }
    img.check-icon-mobile {
        width: 24px;
        height: 24px;
        margin: 0;
    }
    .createbutton {
        display: flex;
        color: var(--white);
        width: 202px;
        align-items: center;
        margin-left: 15px;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h1.mobile {
        font-family: 'Inter';
        font-size: 47px;
        font-weight: 700;
        line-height: 57.4px;
        color: var(--white);
        margin-bottom: -12px;
        color: var(--white);
    }
    .mobile-underline {
        border-bottom: 3px solid var(--button-hover);
        height: 3px;
        width: 90px;
        padding-left: 12px;
        margin-left: 0;
    }
    .subheader-mobile {
        font-family: 'Inter';
        font-size: 20px;
        margin-right: 40px;
        font-weight: 400;
        line-height: 24px;
        color: var(--white);
    }
    img.closeX {
        width: 32px;
        height: 32px;
        margin-left: 0;
        margin-top: 2px;
        z-index: 10;
        filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(166deg) brightness(102%) contrast(101%);
        z-index: 10;
    }
    .saveButton {
        display: flex;
        color: var(--white);
        align-items: center;
        height: 51px;
        cursor: pointer;
        font-weight: 700;
        justify-content: center;
        gap: 10px;
        font-size: 20px;
        width: 101px;
        border-radius: 10px;
        background-color: var(--deep-grey);
        border: unset;
    }
    .contactbuttons {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    p.subheader-edit-mobile,
    img.logo-overlay {
        display: none;
    }
    .mobile-edit-underline {
       margin-right: 270px;
    }
}

@media (max-width: 370px) {
    .contactFormLeft {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        height: 25vH;
        background-color: #2A3647;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
    }
    .mobile-underline {
       position: relative;
       left: 1px;
       margin-bottom: 30px;
    }
    h1.mobile {
        margin-left: 0;
        color: var(--white);
        padding-bottom: 22px;
    }
    .contactFormRight {
        width: 90%;
    }
    .subheader-mobile {
        display: none;
    }
    .mobile-underline {
        margin-left: 0;
    }
}