:root {
    --orange: #FF7A00;
    --pink: #FF5EB3;
    --blue: #6E52FF;
    --violet: #9327FF;
    --babyblue: #00BEE8;
    --body-background-grey: #f5f5f5;
    --ligh-tgreen: #1FD7C1;
    --dark-orange: #FF745E;
    --brown: #FFA35E;
    --pink: #FC71FF;
    --med-orange: #FFC701;
    --med-blue: #0038FF;
    --emailblau: #007CEE;
    --neon-green: #C3FF2B;
    --yellow: #FFE62B;
    --light-red: #FF4646;
    --light-orange: #FFBB2B; 
    --deep-grey: #2A3647;
    --deepest-grey: #091931;
    --button-hover: #29ABE2;
    --links-grey: #cdcdcd;
    --black: #000000;
    --white: #ffffff;
}

body {
    margin: 0;
    background-color: var(--body-background-grey);
}

*{
    font-family: 'Inter';
}

svg {
    max-width: 32px;
    max-height: 32px;
}

.container {
    display: flex;
    height: 85vh;
    margin-left: 230px;
}

.sidebar {
    width: 456px;
    padding: 20px;
    height: 100%;
    /* box-shadow: 2px 0 5px rgba(0, 0, 0, 0.548); */
    overflow-y: auto;
}

.add-contact-btn {
    display: flex;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    color: var(--white);
    background-color: var(--deepest-grey);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    align-items: center;
    justify-content: center;

}

.add-contact-btn:hover {
    background-color: var(--button-hover);
}

.add-contact-btn svg{
    margin-left: 16px;
}

.alphabet-list {
    margin-top: 20px;
    /* margin-bottom: 180px; */
}

.alphabet {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 2px solid rgb(133, 127, 127, 0.2);
    padding: 20px;
    color: var(--deep-grey)

}

.contact-item {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 20px;
    border-radius: 10px;

}

.contact-item:hover {
    background-color: rgba(175, 171, 171, 0.2);
    cursor: pointer;
}

.contact-item.active {
    background-color: #091931;
    color: #ffffff;
}

.contact-container {
    position: relative;
    overflow: hidden;
}

.contact-details {
    position: relative;
    right: -100%;
    transition: right 0.5s ease-in-out;
    display: flex;
}

.contact-details.show {
    right: 0;
    margin-top: 40px;
    margin-left: 40px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-size: 14px;
}

.contact-details .avatar {
    margin-bottom: 16px;
    font-size: 21px;
    height: 120px;
    width: 120px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact-name {
    font-size: 20px;
    font-weight: 400;
    color: var(--black);
}

.contact-email {
    font-size: 16px;
    color: var(--emailblau);
    font-weight: 400;
    line-height: 19.2px;
   
}

.main-content {
    flex-grow: 1;
    padding: 40px;
    background-color: #f5f5f5;
}

h1 {
    margin: 0;
    font-size: 61px;
    color: var(--black);
}

p {
    font-size: 18px;
    color: #777;
}

p.subheader-contact {
    font-size: 20px;
    color: #777;
    font-weight: 400;
    font-family: 'Inter';
    line-height: 24px;
    color: var(--black);
}

.vertical-seperator {
    border-left: 3px solid var(--babyblue);
    height: 59px;
    margin: 0 20px;
}

.contact-flex-header {
    display: flex;
    align-items: center;
}

span.subheadline {
    font-weight: 400;
    font-size: 27px;
    color: var(--deep-grey);
}

.help-icon-header {
    width: 20px;
    height: 20px;
}

.user-image-header {
    width: 56px;
    height: 56px;
}

  .spinner {
    --uib-size: 37px;
    --uib-color: black;
    --uib-speed: .9s;
    --uib-bg-opacity: .1;
    height: var(--uib-size);
    width: var(--uib-size);
    transform-origin: center;
    overflow: visible;
  }

  .car {
    fill: none;
    stroke: var(--uib-color);
    stroke-dasharray: 15, 85;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: travel var(--uib-speed) linear infinite;
    will-change: stroke-dasharray, stroke-dashoffset;
    transition: stroke 0.5s ease;
  }

  .track {
    stroke: var(--uib-color);
    opacity: var(--uib-bg-opacity);
    transition: stroke 0.5s ease;
  }

  @keyframes travel {
    0% {
      stroke-dashoffset: 0;
    }

    100% {
      stroke-dashoffset: -100;
    }
  }

#spinner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(65, 64, 64, 0.2);
    z-index: 999;
  }

  .contactForm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 592px;
    width: 1212px;
    background-color: white;
    border-radius: 20px;
    
  }

  .contactFormLeft {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 467px;
    height: 594px;
    background-color: #2A3647;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
  }

  .contactFormLeft img{
   margin-left: 50px;
  }



  .joinnnlogocontact  {
    height: 66px;
    width: 55px;
    margin-bottom: 10px;
  }

  .addcontacttext {
  width: 371px;
  height: 129px;
  margin-bottom: 20px;
}

.vector5 {
    width: 90px;
}

.d-none {
    display: none;
}

