body {
    margin: 0;
    font-family: 'Inter';
}

.header-left {
    background-color: var(--deep-grey);
    width: 232px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.join_logo {
    height: 121px;
    width: 100px;
    margin: 60px;
}

.headericons {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headericons img {
    margin-left: 50px;
    margin-right: 10px;
    height: 30px;
    width: 30px;
}

.sidebarlist {
    height: 50px;
    font-size: 16px;
    color: var(--links-grey);
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.sidebarlist:hover {
    cursor: pointer;
    background-color: var(--deepest-grey)
}

.lastpart {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 62px;
}

.policies {
    font-size: 16px;
    margin-left: 60px;
    color: #C5C6C6;
}

.policies:hover {
    cursor: pointer;
    color: #00BEE8;
    transform: scale(1.1);
}


.header-top {
    height: 96px;
    width: calc(100% - 232px);
    margin-left: 232px; 
    box-shadow: 0 4px 4px rgba(177, 174, 174, 0.3);
    position: relative;
    z-index: 1; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.kanban {
   margin-left: 50px;
   font-size: 20px;  
}

.user {
    display: flex;
    align-items: center;
}

.user img {
    margin-right: 20px;
}

.header-flex {
    display: flex;
    flex-direction: column;
}