
body {
    overflow-x: hidden;
  }

.back-arrow {
    background-image: url(../IMGicons/arrow-left-line.svg);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.flexhelper {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

@media (max-width: 670px) {
    .hundertVh {
        width: 90%;
        margin: 0 auto;
    }
    button.guest-button-frontpage {
        margin-left: 8px;
    }
}

@media (max-width: 500px) {
    .header-top {
        position: fixed;
        bottom: 100px;
        left: 0;
        right: 0;
    }
    #animated-svg {
        width: 64px;
        height: 78px;
        margin-top: 20px;
        margin-left: 20px;
    }
    .hundertVh {
        height: 100vH;
        width: 90%;
        margin: 0 auto;
    }
    .flex-input {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    form.login-frontpage {
        display: flex;
        flex-direction: column;
        gap: 32px;
        width: 90%;
        align-items: center;
    }
    .signup-markup {
        height: 100vH;
    }
    input#signup-password,
    input#signup-email {
        width: 90%;
    }
    h2 {
        font-size: 47px;
    }
    .flex-input {
        display: flex;
        align-items: center;
        padding: 10px;
        max-width: 90%;
    }
    .flex-input input[type="text"] {
        flex: 1;
        border: none;
        outline: none;
        font-size: 16px;
    }
    .flex-input img.form-image {
        width: 24px;
        height: 24px;
        margin-left: 10px;
    }
    .flex-input {
        padding: 8px;
    }
    .flex-input input[type="password"],
    .flex-input input[type="text"] {
        font-size: 14px;
        width: 90%;
    }
    .flex-input img.form-image {
        width: 20px;
        height: 20px;
        margin-left: 8px;
    }
    button.guest-button-frontpage {
        width: 150px;
    }
}


/* iPhone SE (1. Generation) */
@media only screen 
  and (device-width: 320px) 
  and (device-height: 568px) 
  and (-webkit-device-pixel-ratio: 2) {
    .header-top {
        position: fixed;
        top: -20px;
        left: 0;
        right: 0;
    }
}

/* iPhone SE (2. Generation) */
@media only screen 
  and (device-width: 375px) 
  and (device-height: 667px) 
  and (-webkit-device-pixel-ratio: 2) {
    .header-top {
        position: fixed;
        top: -20px;
        left: 0;
        right: 0;
    }
}