.main-content {
    margin-top: 80px;
    margin-left: 332px; /* Anpassung an die Breite der Seitenleiste */
    margin-right: 120px;
    padding: 20px;
    background-color: var(--body-background-grey);
    /* min-height: 100vh; */
    height: 85vh;
}

.main-content p {
    margin-bottom: 32px;
}

.back-arrow {
    margin: 20px 0;
}

.back-arrow img {
    height: 20px;
    width: 20px;
}

h1, h2, p {
    color: var(--deep-grey);
}

.back-arrow {
    background-image: url(../IMGicons/arrow-left-line.svg);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    cursor: pointer;
}