
.main-content {
    margin-top: 80px;
    margin-left: 332px; 
    margin-right: 120px;
    padding: 20px;
    background-color: var(--body-background-grey);
    height: 85vh;
}

.main-content p {
    margin-bottom: 32px;
}

.back-arrow {
    margin: 20px 0;
}

.back-arrow img {
    height: 20px;
    width: 20px;
}

h1, h2, p {
    color: var(--deep-grey);
}

.back-arrow {
    background-image: url(../IMGicons/arrow-left-line.svg);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.joinLogo {
    display: none;
}

.footer-mobile {
    display: none;
}

@media (max-width: 800px) {
    .header-left {
        display: none;
    }
    .main-content {
        margin: 10px 10px 40px 10px;
        height: auto;
    }
    .header-top {
        width: 100%;
        margin-left: 0;
    }
    h1 {
        font-size: 47px;
        font-weight: 700;
        line-height: 56.4px;
    }
    h2 {
        font-size: 27px;
        font-weight: 700;
        line-height: 32.4px;
    }
    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
    }
    .subheader-contact,
    .kanban, .user {
        display: none;
    }
    .joinLogo {
        display: block;
        width: 39px;
        height: 39px;
        position: absolute;
        top: 16px;
        z-index: 20;
        left: 16px;
    }
    .footer-mobile {
        display: block;
    }

}