:root {
    --orange: FF7A00;
    --pink: FF5EB3;
    --blue: 6E52FF;
    --violet: 9327FF;
    --babyblue: 00BEE8;
    --ligh-tgreen: 1FD7C1;
    --dark-orange: FF745E;
    --brown: FFA35E;
    --pink: FC71FF;
    --med-orange: FFC701;
    --med-blue: 0038FF;
    --neon-green: C3FF2B;
    --yellow: FFE62B;
    --light-red: FF4646;
    --lieght-orange: FFBB2B; 
}

.cursor-pointer {
    cursor: pointer;
}

.login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
}
form.login-frontpage {
    display: flex;
    flex-direction: column;
}
button {

}

button.login-button-frontpage {
    width: 110px;
    height: 48px;
    background-color: #2A3647;
    color: #ffffff;
    border-radius: 8px;
}
button.guest-button-frontpage {
    width: 177px;
    height: 48px;
    color: #2A3647;
    background-color: #ffffff;
    border-radius: 8px;
}
.buttons-frontpage {

}