.main-content {
    margin-top: 80px;
    margin-left: 332px; /* Anpassung an die Breite der Seitenleiste */
    margin-right: 120px;
    padding: 20px;
    background-color: var(--body-background-grey);
    height: 85vh;
}

.metrics-row-mobile,
.joinLogo {
    display: none;
}

.main-content p {
    margin-bottom: 32px;
}

h1, h2, p {
    color: var(--deep-grey);
}

.contact-flex-header {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}

.contact-flex-header span {
    font-size: 27px;
}

/* Styles for the greeting message */
.greeting-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    padding: 40px;
    background-color: var(--light-grey);
    border-radius: 8px;
    display: none;
}

.greeting-flex-area {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
}

.greeting h1 {
    color:#29ABE2;
    font-size: 64px;
}

#greeting-text {
    font-size: 47px;
    color: var(--deep-grey);
}

.text-align-center {
    text-align: center;
}

.d-flex {
    display: flex;
}

.content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
}

/* Anpassung des Layouts mit Flexbox */
.metrics-container {
    display: flex;
    flex-direction: column;
    flex: 2;
    gap: 20px;
    margin-top: 40px;
}

.metrics-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.summary-box {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #F7F8FC;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    text-align: center;
    color: #2A3647;
    flex: 1;
    margin-right: 10px;
}

.summary-box:last-child {
    margin-right: 0;
}

.summary-box:hover {
    background-color: #2A3647;
    color: white;
    transform: translateY(-5px);
}

.summary-box:hover h2,
.summary-box:hover p {
    color: white;
}

.summary-box img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    filter: invert(0); /* Icon bleibt dunkel */
    transition: filter 0.3s ease;
}

.summary-box:hover img {
    filter: invert(1); /* Icon wird weiß */
}

/* Box spezifische Styles */
#todoCounter {
    background-color: #fff;
    padding: 20px;
    gap: 20px;
}

#doneCounter {
    background-color: #fff;
    padding: 20px;
    gap: 20px;
}

#upcomingCounter {
    background-color: #fff;
    flex: 1;
    margin-right: 0;
    padding: 20px;
    gap: 20px;
}

#upcomingCounter img {
    filter: none; /* Icon bleibt in seiner Originalfarbe (Rot) */
}

#taskInBoard {
    background-color: #fff;
}

#taskInProgress {
    background-color: #fff;
}

#taskAwaitFeedback {
    background-color: #fff;
}

/* Box Hover-Effekte */
#todoCounter:hover,
#doneCounter:hover,
#upcomingCounter:hover,
#taskInBoard:hover,
#taskInProgress:hover,
#taskAwaitFeedback:hover {
    background-color: #2A3647;
    color: white;
}







/* Bitte nichts nach den Media Queries einfügen!
***********************************************************************/

@media (max-width: 1280px) {
    .content-container {
        flex-wrap: wrap;
    }
}    

@media (max-width: 1180px) {
    h1 {
        font-size: 47px;
    }
    .contact-flex-header span {
        font-size: 20px;
    }
} 

@media (max-width: 850px) {
    .header-left {
        display: none;
    }
    .header-top,
    .main-content {
        margin-left: 0;
        margin-right: 0;
    }
    .header-top {
        width: 100%;
    }
    .contact-flex-header {
        gap: 0;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 738px) {

}

@media (max-width: 590px) {
    .vertical-seperator {
        display: none;
    }
    .contact-flex-header {
        flex-direction: column;
        align-items: flex-start;
    }
} 

@media (max-width: 510px) {
    .metrics-row-desktop,
    .subheader-contact {
        display: none;
    }
    .summary-box {
        flex: 0 0 146px;
    }
    .metrics-row {
        justify-content: unset;
    }
    .joinLogo {
        display: block;
        width: 39px;
        height: 39px;
        position: absolute;
        top: 16px;
        z-index: 20;
        left: 16px;
    }
    .metrics-row-mobile {
        display: block;
    }

} 